p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto,Arial;
  margin: 0;
  padding-top: 100px;  
  padding-left: 94px;
  padding-right: 24px;
  padding-bottom: 50px;
}

@media (min-width:1300px) {
  body {
    padding-left: 230px;
  }
}