.header {
  background-color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(231, 231, 231);
  z-index: 100;
}

.left-header {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 25px;
  cursor: pointer;
}

.hamburger-menu-div {
  margin-left: 15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 300px;
}

.hamburger-menu-div:hover {
  background-color: rgb(231, 231, 231);
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-header {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 700px;
  justify-content: center;
}

.search {
  flex: 1;
  width: 0;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  padding-right: 10px;
  border: 1px solid rgb(150,150,150);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.15);
  margin-right: -1px;
}
.search::placeholder {
  font-size: 16px;
  font-weight: light;
}

.search:focus {
  outline: none;
}

.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 65px;
  height: 44px;
  border: 1px solid rgb(150,150,150);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.15);
  position: relative;
  transition: opacity 0.3s ease
}

.tooltip {
  display: flex;
  flex-direction: row;
  background-color: rgb(74, 74, 74);
  opacity: 0;
  color: white;
  position: absolute;
  bottom: -40px;
  padding: 4px 6px;
  pointer-events: none;
  font-size: 12px;
  max-width: 500px;
  white-space: nowrap;
  transition: opacity 0.2s ease
}

.search-button:hover .tooltip {
  opacity: 0.8;
}

.search-button:hover {
  background-color: rgb(231, 231, 231);
}

.search-icon {
  height: 30px;
  cursor: pointer;
}

.voice-button {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  margin-left: 20px;
  border-radius: 300px;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease
}

.voice-button:hover {
  background-color: rgb(231, 231, 231);
}

.voice-button:hover .tooltip {
  opacity: 0.8;
}

.voice-icon {
  height: 28px;
  cursor: pointer;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  flex-shrink: 0;
}

.upload,.youtube-apps,.notification {
  height: 24px;
  cursor: pointer;
  position: relative;
}

.upload-div {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3 ease;
}


.youtube-apps-div {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease
}

.notification-container {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease
}

.notification-container:hover .tooltip {
  opacity: 0.8;
}

.upload-div:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 300px;
}

.upload-div:hover .tooltip {
  opacity: 0.8;
}

.youtube-apps-div:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 300px;
}

.youtube-apps-div:hover .tooltip {
  opacity: 0.8;
}

.notification-container:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 80px;
}

.notification-no {
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: red;
  border-radius: 300px;
}

.pfp {
  height: 32px;
  width: 32px;
  margin-bottom: 10px;
  margin-right: 24px;
  border-radius: 300px;
} 

