.sidebar {
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  top: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding-top: 30px;
  border-right: 1px solid rgb(231, 231, 231);
  z-index: 200;
}

.sidebar-div {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-div:hover {
  background-color: rgb(231, 231, 231);
}

.sidebar-icons {
  width: 30px;
  height: 30px;
}

@media (min-width:1300px) {
  .sidebar {
    width: 180px;
    font-size: 14px;
    padding-left: 20px;
  }
  .sidebar-div {
    flex-direction: row;
    justify-content: left;
    column-gap: 20px;
  }
  .sidebar-icons {
    width: 40px;
    height: 40px;
  }
  
}

