.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
  z-index: 2;
}

@media (max-width:1300px)  {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width:1000px)  {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:600px)  {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.tags {
  color:inherit;
  text-decoration: none;
}

.title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.author {
  font-size: 14px;
  margin-top: 15px;
  color: rgb(73, 72, 72);
}

.stats {
  line-height: 1px;
  font-size: 14px;
  margin-top: 20px;
  color: rgb(73, 72, 72);
}

.thumbnail {
  width: 100%;
  position: relative;
}

.thumbnail-pic {
  width: 100%;
}

.time {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 10px;
  padding: 3px 4px;
  border-radius: 2px;
}

.channel-pic {
  width: 200px;
  vertical-align: top;
}

.title-div {
  width: 80%;
}

.pfp {
  width: 140%;
  border-radius: 300px;
  margin-top: 10px;
}
